/*Author : amin saki*/
*{
    font-family: myFirstFont;
 }
@font-face {
    font-family: myFirstFont;
    src: url('../bootstrap/fonts/BYekan.ttf');
}
.bodys{
     background-image: url('img/background.png');
}
a:active {
    background-color: whitesmoke;
}
.modal-sm {
    width: 452px;
}
.t{
     border:1px groove red;
}
.default{
    background-image: url('img/background.png');
}
.bb{
    background-color:red;
}
.navbar-right {
    margin-right: 84px;
}
/* bouton  nav smail*/
.
.nav > li{
    text-align: center;
}
.topsnave{
    margin-top:34px;
    background-color:#1ABC9C;
}
.imgslider{
  height:80px;
    border-radius:10px 20px;
}
.carousel {
    padding: 0px 5px;
    border-radius: 10px 20px;
    border: 5px solid rgb(29, 29, 63);
}
/* direrre */
.rightstyle{
   border:1px groove red;
}
.rightstyle img:hover{

    opacity: 0.6;
    background: none repeat scroll 0% 0% #E3931C;
   position: absolute;

}
.titleproduct {
    text-align: right;
}
/*code into footers*/
footer{
    background-color:#2e3436;

}
.footer-end{
    background-color:#2e3436;
    text-align: center;
    color:white;
    font-size: 18px;
    border-top: 2px groove #0f0f0f;
}
.img_logo{
    background-color: #0f0f0f;
    background-color: rgba(30, 28, 32, 0.19);
    height: 220px;

}
.img_logo img {
    margin-top: 77px;
    width: 263px;
    height: 122px;
}
footer h5{
    color:white;
}

footer ul li{
color:white;
}
.titlep{
    color:white;
}

.bgtitle{

background-color: rgba(234, 170, 16, 0.7);
}
.footer .panel-footer{
    text-align:center ;
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
    color: #02070C;
    font-size:12px;
}
.endfooter{

}
.footer .panel-body{
    text-align: center;
    font-size: 18px;
    color:White;
}
.footer .panel{
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
}
.faq .panel-default  .panel-heading {
    background-image: linear-gradient(to bottom, #6DA2A0 0px, #AFFBE8 100%);
    background-repeat: repeat-x;
}
.tables
{
    display: none;
}
.tables :hover{
    ///display: block;
}
.mypanel {
    margin-bottom: 20px;
    background-color: #F5AB35;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 62px;
    color: white;
}
.admin.col-md-offset-9 {
    /*margin-left: 76%;*/
}
.bg-nav{
    background: none repeat scroll 0% 0% #2E5F89;

}
.bg-nav a{
    color:white;
}

.table tr td a{
    text-align: right;
    float:right;
}
.table tr td span{
    text-align: right;
    float:right;
}
.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #12B6EC 0px, #26434E 100%);
    background-repeat: repeat-x;
}
.panels{
    background: none repeat scroll 0% 0% #148DB3;
}
.panel-title{
    color:white;
}
.panel-group .panel + .panel {
    margin-top: 1px;
}
.nav-right{
    background-color: #2c3e50;
    height: 610px;
    /*margin-left: 80%;*/
    float: right;
}
.tb th{
 text-align: center;
    background-color: #2c3e50;
    color:white;
}
.tb td a{
    text-align: center;
}
.tops{
    margin-top: 10px;

}
/*/.content_start code css pordcut*/
.content-prodcut{
    background-color: #1EBAA9;

    margin-top: 10px;

    color: white;
    height: 48px;
    border-radius: 3px 8px;
}
.content-prodcut a{
    color:black;
    text-align: right;
   }
.borderimg{
  border:1px groove #979797;
  border-radius: 5px 5px;
}
.borderimg img{
    border-radius: 5px 5px;
    position:relative;
}
.border-ment{
    background-color: #2C3E50;
    font-size: 14px;
    color: #FFF;
    text-align: center;


}

.navbar-default .navbar-nav > li > a :active{
    color:white;
}

.border-ment:hover {
    background: none repeat scroll 0% 0% #08BBB7;
    color:white;
}
.border-ment2{
    background-color:#F5AB35;
    font-size: 14px;
    color: #FFF;

}
.border-ment:hover {
    background: none repeat scroll 0% 0% #08BBB7;
    color:white;
}
.border-ment2:hover{
    background: none repeat scroll 0% 0% #EB5F60;
    color:white;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-color: #000209;
    top: -200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: -200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.5s;
    transition: all 0.1s ease-out 0.5s;
    color: #EDF4F5;
    font-size: 16px;
}

.hovereffect:hover .overlay {
    opacity: 0.8;
    filter: alpha(opacity=100);
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #000;
    border: 1px solid #000;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    box-shadow: 0 0 5px #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
 ul li{
    text-decoration: none;

}
 /*end readmord*/
.datas{
    line-height: 29px;
    font-size: 16px;
    background-color: #21A7B1;
    color: white;
}

/**navbar***/
@import "fontnavbar.css";
body {
    font-family: 'Open Sans', 'sans-serif';
}
.mega-dropdown {
    position: static !important;

}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 50%;
    margin-right: 200px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}
.left.carousel-control {
    right: 230px;
    left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}
.botnav{
    background-color: #1b6d85;
}
.navbg {
    border-top:2px groove #f5ab35;
    background-color: #0D4F65;

}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand {
    color: #E5F8E6;
    background-color: #f5ab35;

}
.navbar-default .navbar-nav > li:hover a{
    color:white;
    background-color:#f5ab35;
    border-radius: 2px 3px ;

}
.nav li a{
    color:white;
 }
.nav li a:hover{
    background-color: #1EBAA9;
}
.nav li .dropdown-toggle:hover{
    background-color: #1EBAA9;
}
.navbar-default .navbar-brand:hover {
    color:white;

}
.navbar-header .navbar-brand{
    background-color:#f5ab35;
    color:white;

}
.navbar-default {
    border-top:3px solid #f5ab35;
    background-image: linear-gradient(to bottom, #34495E 0px, #34495E 100%);

}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left:-50px;

}
.navbar-toggle {

    background-color: rgb(26, 188, 156);

}
.navbar-toggle .icon-bar {

    background-color: white;
}








